<!DOCTYPE html>
html(lang='en-US')
    head
        link(rel='stylesheet', type='text/css', href="index.css")
        title Lyrical trivia
    body.body
        include _includes/header
        main.main__container
            block content