extends _layout
include _includes/link_mixin
block content
    h1.heading Welcome to Lyrical Trivia!
    br
    +link('/quiz/list', 'View Quizzes', 'fa-eye')
    br
    +link('/admin/choices/list', 'View List of Choices', '', 'button primary')
    br
    +link('/admin/questions/list', 'View List of Questions', '', 'button primary')
    br
    +link('/auth/list', 'View List of Users', '', 'button primary')
