include head
link(rel='stylesheet', href='/index.css', type='text/css')

header.header
    .header__container
        h1
             a.header__brand(href="/") Lyrical Quiz

        .links
            if loggedIn
                //- a.header__link(href="/admin/quizzes/list") Dashboard
                //- a.header__link(href="/admin/quizzes/new") Create a new quiz
                a.header__link(href="/logout") Logout
            else
                a.header__link(href="/signup") Sign Up
                a.header__link(href="/login") Login