.heading {
	font-family: var(--secondary-font-family);
	font-weight: 400;
	font-size: 2.5em;
	line-height: 1.25em;
	color: var(--primary-color);
}

.list {
  border: 1px solid var(--border-color);
  border-top: none;
  background-color: var(--secondary-background-color);
  padding: 0;
}

.list__item {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  border-top: 1px solid var(--border-color);
  justify-content: space-between;
}

.list__item__title {
  font-size: 20px;
  flex-grow: 2;
  margin-bottom: 12px;
}

.list__buttons__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  composes: button from '../../brand.css';
}