extends ../_layout
include ../_includes/link_mixin
block content

    if choice
      ul.list
        for value in choice
         span= value.value
         br
          span= value.type


           span
            +link('/quiz/list', 'Return to Quiz', 'fa-eye', 'link')
            +link('/admin/choices/edit/'+ value.id, 'Edit', 'fa-edit', 'link')
            +link('/admin/choices/delete/'+ value.id,'Delete', 'fa-trash', 'link linkSecondary')
        
    //- if questions 
    //-   for question in questions 
    //-      span=questions.id