extends ../_layout
include ../_includes/link_mixin
block content
    h4 My Choices Item

      ul.list
          li.list__item
            span.list__item__title= value
            span.list__item__title= type
            
          div
            +link('/quiz/list', 'Return to Quiz', 'fa-eye', 'link')
            +link('/admin/choices/edit/'+ id, 'Edit', 'fa-edit', 'link')
            +link('/admin/choices/delete/'+ id,'Delete', 'fa-trash', 'link linkSecondary')
            +link('/admin/choices/new?questionId='+questionId, 'Create Your Own Choice', '', 'button primary')
            