extends ../_layout
include ../_includes/link_mixin
block content

    h1.heading My Choices
    ul.list
        for value in choices
            li.list__item
                span= value.value
                span= value.type

                +link('/admin/choices/'+value.id, 'View', 'fa-eye')

