extends ../_layout
include ../_includes/link_mixin
block content
  div
  
     h2.headingSecondary Question

     ul.list
         span= title
          div.list__item__footer
            +link('/quiz/'+quizId, 'Return to Quiz', 'fa-eye', 'link')
            +link('/admin/questions/edit/'+id, 'Edit', 'fa-edit', 'link')
            +link('/admin/questions/delete/'+id, 'Delete', 'fa-trash', 'link linkSecondary')

     div
       h2.headingSecondary Choices
       +link('/admin/choices/new?questionId='+id, 'Create Your Own Choice', '', 'button primary')
       ul.list
        for choice in choices
           li.list__item
              span.list__item__title= choice.value
                 div.list__item__footer
                     +link('/admin/choices/'+choice.id, 'View', 'fa-eye', 'link')
                     +link('/admin/choices/edit/'+choice.id, 'Edit', 'fa-edit', 'link')
                     +link('/admin/choices/delete/'+choice.id, 'Delete', 'fa-trash', 'link linkSecondary')
