extends ./../_layout
include ./../_includes/link_mixin
block content
      ul.list
         span= username
           span
            +link('/quiz/list', 'Return to Quiz', 'fa-eye', 'link')
            +link('/admin/auth/edit/'+id, 'Edit', 'fa-edit', 'link')
        
