:root {
  --active-color: #35a7ffff;
  --primary-color: #6bf178ff;
  --secondary-color: #ffe74cff;
  --text-color: #333;
  --light-text-color: #fdfdfd;
  --background-color: #fff;
  --border-color: #e6e6ea;
  --secondary-background-color: #f4f4f8;
  --error-color: #ff5964ff;
  /* Aimee L Ramirez on Colors to change */
  /* --minion-yellow: #ffe74cff;
  --fiery-rose: #ff5964ff;
  --white: #ffffffff;
  --screamin-green: #6bf178ff;
  --blue-jeans: #35a7ffff; 
  --ming: #006d77ff;
--middle-blue-green: #83c5beff;
--alice-blue: #edf6f9ff;
--unbleached-silk: #ffddd2ff;
--dark-salmon: #e29578ff;
  
  */
}
.color__block {
  z-index: 0;
}

.active {
  background-color: var(--active-color);
}

.active__text {
  color: var(--active-color);
}

.primary {
  background-color: var(--primary-color);
}

.primary__text {
  color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.secondary__text {
  color: var(--secondary-color);
}

.text {
  color: var(--text-color);
}

.background {
  background-color: var(--background-color);
}

.border {
  border: 1px solid var(--border-color);
}

.error {
  background-color: var(--error-color);
}

.error__text {
  color: var(--error-color);
}
