extends ./../_layout
include ./../_includes/link_mixin

block content
    div
       span= name
        div.list__item__footer

        span
            +link('/admin/quizzes/edit/'+quizId, 'Edit', 'fa-edit', 'link')
            +link('/admin/quizzes/delete/'+quizId, 'Delete', 'fa-trash', 'link linkSecondary')

    div
        h2.headingSecondary Questions
        ul.list
         for value in questions
            li.list__item
                span.list__item__title=value.title
                +link('/admin/questions/'+value.id, 'View', 'fa-eye', 'link')
                +link('/admin/questions/delete/'+value.id, 'Delete', 'fa-trash', 'link linkSecondary')
    +link('/admin/questions/new?quizId='+quizId, 'Create Your Own Question', '', 'button primary')
