extends ../_layout
include ../_includes/link_mixin
block content
    div.heading
        span= quiz.name
        span
            +link('/quiz/'+quiz.id, 'View', 'fa-eye', 'link')
            +link('/admin/quizzes/edit/'+quiz.id, 'Edit', 'fa-edit', 'link')
            +link('/admin/quizzes/delete/'+quiz.id, 'Delete', 'fa-trash', 'link linkSecondary')
        
        div
            h2.headingSecondary Questions
            ul.list
                for question in questions
                    li.list__item
                        span.list__item__title= question.value
                        +link('/admin/questions/'+question.id, 'View', 'fa-eye', 'link')
                        +link('/admin/questions/delete/'+question.id, 'Delete', 'fa-trash', 'link linkSecondary')
            +link('/admin/question/new/'+quiz.id, 'Add a new question', '', 'button primary')

